
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

:root{
    --rojo-color: #A40101;
    --magenta-color: #2CA3AB;
    --cielo-color: #a8dde0;
    --gris-color: #C4C4C4;
    --naranja-color: #c55110;
    --azul-color: #1D1B45;
    --darkazul-color: #212429;
    --azual-color:#0e5883;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/*::::::::::::::::::::::::::::::::::BARRA DE ALERTAS::::::::::::::::::::::::::::::::::::::*/
#alerts{
    display: flex;
    flex-direction: column;
    background-image: url(../img/CorGroup.png);
    padding: 50px;
    width: 100%;
    height: 300%;
}

.alertas{
    padding: 10px;
    width: 50%;
    align-items: flex-start;
}

.flecha{
    padding-right: 10px;
    margin-bottom: -9px;
}

.talerta{
    text-align: center;
    position: relative;
    left: 100px;
}

.talerta ul {
    text-align: left;
    list-style: none;
    align-items: center;
    padding-left: 60px;
    left: 10px;
    line-height: 38px;
}

.check{
    width: 20px;
    margin-right: 8px;
}

.tit-sig{
    color: var(--azual-color);
}

/* que hacer */
.hacer{
    padding: 5px;
    width: 50%;
}

.quest{
    padding-right: 10px;
    margin-bottom: -10px;
}

.qhacer{
    text-align: center;
    position: absolute;
    right: 30px;
    animation-duration: 20s;
}

.qhacer p{
    text-align: center;
}

.qhacer u{
    color: #0e5883;
}

#temas{
    text-align: left;
    background-color: #636161;
}

#temas p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#temas a {
    color: var(--gris-color);
    text-decoration: none;
}

.tx-temas{
    background-color: var(--azul-color);
}

.fontlogin{
    background-image: url(/img/10.png);
}

.final{
    padding: 1px;
    background-color: black;
    color: var(--gris-color);
}

.final p{
    text-align: center;
}


/*==================================login========================================*/
#font-login{
    background-image: url(../img/10.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#login {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.volver-home{
    align-items: flex-end;
    margin-left: 130px;
    padding: 5px;
    animation: bounce;
    animation-duration: infinite;
}

.volver-home button{
    background-color: var(--azul-color);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--magenta-color);
    padding: 7px;
    margin: 0 50px;
}

.login-container{
    display: flex;
    width: 30%;
    min-height: 400px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-logo{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px;
    background-color: var(--cielo-color);
}

.login-logo h3{
    margin: 0;
    color: var(--dark-color);
}

.login-logoo{
    width: 300px;
    }

.login-form{
    padding: 10px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-group{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.form-group label{
    padding: 10px;
}

.form-group input{
    margin-bottom: 8px;
    padding: 5px;
    width: 70%;
    min-height: 30%;
    background-color: #daeced;
    border-radius: 15px;
    border: 1.5px solid #7fd2d8;
}

.entrada{
    margin-bottom: 8px;
    width: 100px;
    min-height: 30px;
    background-color: #bdfbff;
    border-radius: 15px;
    border: 1.5px solid #7fd2d8;
}

label{
    font-weight: bolder;
}

.linkpass {
    color: #000000;
    font-weight: 400px;
    padding: 10px;
    margin: 5px;
}

.ingresar{
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    animation: bounceIn;
    animation-duration: 10s;
}

.ingresar button{
    color: white;
    background-color: var(--naranja-color);
    border: 1.5px solid rgba(29, 172, 243, 0,753);
}

/*==================================Dasboard========================================*/
#dasboard{
    display: flex;
    flex-direction: row;
}

.dash-logo{
    display: block;
    margin-left: 50px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
}

#menu-dash{
    background-color: var(--darkazul-color);
}

.menu1{
    display: flex;
    width: 100%;
    background-color: var(--darkazul-color);
    height: 70vh;
    padding: 0;
}

.menu1 ul{
    list-style: none;
    width: 400px;
    padding: 0;
    flex-direction: column;
}

.menu1 a{
    color: var(--ligh-color);
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.menu1 i{
    margin: 10px;
}

.item1{
    background-color: var(--gris-color);
    border: 4px solid var(--naranja-color);
    margin-top: 15px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    align-items: center;
    /* animation: bounceInLeft;*/
    animation-duration: 10s;
}

.contenido{
    flex-basis: 80%;
    background: linear-gradient(rgba(196, 196, 196, 0.3), rgba(196, 196, 196, 0.3)), url(../img/3.\ franjaninios\ 1.png), url(../img/13.\ guerreros.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    align-items: center;
    padding: 30px;
}

.tex-contenido{
    text-align: center;
    margin: 100px;
    color: var(--naranja-color);
}
.tex-contenido h1{
    font-size: 40px;
    margin-bottom: 100px;
}

.frm-bienvenida input{
    width: 300px;
    border: none;
    background-color: rgba(196, 196, 196, 0.3);
    color: var(--gray-color);
    border-bottom: 2px solid var(--azul-color);
}

.frm-icon{
    background-color: var(--azul-color);
    color: white;
    border-color: var(--magenta-color);
    border-radius: 10%;
}

.sesion{
    text-align: right;
}

.sesion i{
    border-color: var(--naranja-color);
}

/*==================================Paciente========================================*/

#hedPaciente {
    background-color: #212429;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.buttPaciente {
    margin-top: 1rem;
    margin-right: 3px;
    margin-bottom: 0.5rem;
}

.buttPaciente button {
    background-color: var(--gris-color);
    width: 40px;
    height: 40px;
    border: 3px solid var(--magenta-color); 
    border-radius: 50px;
}

.buttPaciente i {
    color: black
}

.franja img{
    width: 100%;
    height: 50%;
}

#paciente{
    flex-basis: 80%;
    background-color: var(--ligh-color);
    padding: 30px;
}

.producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titdash h1{
    text-align: center;
    margin-bottom: 5rem;
    color: var(--white-color);
    font-family: 'Roboto' sans-serif;
}

.frm-busqueda{
    display: flex;
    justify-content: space-between;
    margin: 1px;
}

.frm-busqueda input{
    flex-basis: 20%;
    padding: 10px;
    border: 2px solid var(--magenta-color);
    border-radius: 5px;
}

.frm-busqueda button{
    flex-basis: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: var(--darkazul-color);
    border: 2px solid var(--magenta-color);
}

.frm-busqueda i{
    color: white;
    margin-top: 9px;
    justify-content: center;
}

.tbl-paciente{

    width: 100%;
    background-color: var(--gris-color);
    border: 2px salid var(--magenta-color);
    border-collapse: collapse;
}

.tbl-paciente th{
    border: 2px solid var(--magenta-color);
    background-color: var(--darkazul-color);
    color: var(--gris-color);
    padding: 10px 0;
}

.tbl-paciente td{
    border: 2px solid var(--magenta-color);
    text-align: center;
    padding: 10px 0;
}

.btn-magenta{
    background-color: var(--magenta-color);
    border-radius: 5%;
    font-weight: bold;
}

.btn-rojo{
    background-color: var(--rojo-color);
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

.btn-naranja button{
    background-color: var(--naranja-color);
    border-radius: 10%;
    color: white;
    font-weight: bold;
}

.btn-gris{
    background-color: #929292;
    border-radius: 5%;
    font-weight: bold;
}

.btn-magenta, .btn-rojo, .btn-naranja, .btn-gris{
    padding: 0.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
/*:::::::::::::::::::::: DISEÑO RESPONSIVE ::::::::::::::::::::::::::::*/

/* MOBILE */
@media screen and (min-width:400px) and (max-width:1199px){

    /*login*/
    header{
        display: flex;
    }

    body{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
    }

    .login-container {
        width: 50%;
    }

    .login-logoo{
    align-items: center;
    width: 150px;
    }

    .volver-home{
        display: flex;
        align-items: center;
    }

    .tbl-paciente{
        font-size: 9px;
    }
    
    #dasboard{
        display: flex;
        flex-direction: column;
    }

    .frm-bienvenida input{
        width: 200px;
        margin: 0 auto;
    }

    .tex-contenido h1{
        font-size: 28px;
    }

}

/* DESKTOP */
@media screen and (max-width:1200px  ){
    .header{
        display: flex;
    }

    .container-logo-buttons{
        flex-direction: row;
        margin: 5px;
    }

    .alertas{
        width: 50%;
        align-items:baseline;
        margin-left: -200px;;
    }
    .talerta{
        margin-left: -80px;
    }
    .tit-sig{
        margin-left: -60%;
        
    }
    .tit-sig_two{
        margin-left:-50%;
    }
    .qhacer{
        /*text-align: center;
        position: relative;*/
        /*left: -200px;
        right: 30px;*/
        width:50%;

    }
    
    .qhacer p{
        text-align: right;
    }
    
    .qhacer {
        justify-content: center;
        
    }
    
    .qhacer u{
        color: #0e5883;
        margin-top: 150px;
    }
    .oms{
        width: 20%;
        top: -10%;
        margin-left: -40%;
    }
    .franja{
        width: 73.5%;
    }
    .franja img{
        width: 136%;
    }

    .login-container {
        width: 50%;
    }
}